

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
  }

  header img {
    height: 50px;
    padding-left: 10px;
}

body {
   margin: 0;
   font-family: "Helvetica", sans-serif;
   color: seashell;
   background-color: black;
   font-size: 22px;
   text-align: center;
}
nav {
    text-align: right;
    flex-grow: 1;
}

#mission {
    height: 700px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    padding-top: 70px;
}
